/*
========================================================
    GENERAL
========================================================
*/
*{
    margin: 0;
    padding:0;
    text-decoration: none;
}
body{
    height: 100vh;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #509BF5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#509BF5), to(#AF2896));
    background-image: linear-gradient(#509BF5, #AF2896);
}
h1,h2{
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: white;
    display: flex;
    justify-content: center;
}
h1{

}
/*
========================================================
    USERS IN ROOM
========================================================
*/
ul{
    width: 20%;
    height: 100vh;
    background: #121212;
}
/*
========================================================
    USERTILE
========================================================
*/
.userTile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #121212;
    width: auto;
    max-width: 20%;
    height:auto;
    padding: 1rem;
}
#userImage{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
p:first-of-type{
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}
p{
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    font-size: .9em;
    line-height: 1.4;
    font-weight: 500;
    color: #929292;
}
