<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head')%>
    </head>
    <body>
        <%- include('./../partials/header')%>

        <form action="/login">
            <button type="submit">Login met spotify</button>
        </form>
        <%- include('./../partials/scripts')%>
    </body>
</html>
